@import "./styles/Buttons.sass"
@import "./styles/Colours.sass"

.questionNavbar
  margin: 10vh 0 20px 0
  padding: 10px 20vw
  display: flex
  justify-content: space-between

  > *
    margin: auto 0

.questionTitle
  font-size: 1.5em
  background: transparent
  text-align: center
  font-weight: bold
  border-bottom: 1px dashed rgba($foreground-rgb, 0.25)
  padding: 8px
  transition: 0.2s ease

  &:hover
    border-bottom: 1px dashed rgba($foreground-rgb, 0.5)

  &:active, &:focus
    border-bottom: 1px dashed rgba($foreground-rgb, 0.9)!important

.questionNavbarRight
  display: flex
  justify-content: center
