@import "./styles/Colours.sass"
  
.loginButton
  width: 10vw
  min-width: 200px
  background-color: rgba($background-start-rgb, 0)
  border-radius: max(30px, 2vw)
  transition: 0.2s ease
  padding: 2px
  border: none
  
  &:hover
    background-color: rgba($foreground-rgb, 0.6)

  img
    width: 100%
    height: auto
    display: flex
