.header{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%)
}
.authenticateButton{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%)
}
