@import "./styles/Buttons.sass"

.dashboardComponent
  height: 100vh
  display: flex
  flex-flow: column
  
.topicHeader
  @extend .noto-sans-default
  text-align: center
  font-size: 2em
  font-weight: 700
  margin-top: 7.5vh

.newTopic
  @extend .default-button
  position: sticky
  margin: auto auto 5vh auto
  display: flex
  width: max(400px, 25vw)
  justify-content: center
  font-size: 0.9em
  padding: 1.2em

  p
    margin: auto 0
    padding-left: 0.5em