@import "./styles/Buttons.sass"
@import "./styles/Colours.sass"

.dashboardComponent
  height: 100vh
  display: flex
  flex-flow: column

.emptyDashboard
  @extend .noto-sans-default
  display: flex
  justify-content: center
  opacity: 0.5
  font-size: 0.8em
  font-style: italic

.topicMainHeaderWrapper
  position: absolute
  margin-top: 7vh
  width: 100%
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, $background-primary-rgb 25%)
  
.topicMainHeader
  @extend .noto-sans-default
  text-align: center
  font-size: 2em
  font-weight: 700
  margin: 0 0 5vh 0

.topics
  overflow-y: scroll
  margin: 10vh 0
  padding: 50px 0

.dashboardTopicLoadingWrapper
  display: flex
  justify-content: center
  margin-top: 50px